{% load static %}

<style>
  .footer-image {
    width: 100%;              /* Resmin genişliğini %100 yapar */
    height: auto;             /* Yüksekliği orantılı tutar */
    max-width: 300px;         /* Maksimum genişlik sınırını belirler (örneğin 300px) */
    object-fit: contain;      /* Resmin orijinal oranını korur */
  }
</style>
<footer id="footer" class="footer dark-background ">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class=" d-flex align-items-center">
            <img src='{% static "assets/img/unnamed.png" %}' alt="" style="width: 70%; height: 70%;">
          </a>


          <div class="footer-contact pt-3">
            <p>Topçular Mahallesi Armağan Sokak No:2</p>
            <p>Eyüpsultan / İSTANBUL</p>
            <p class="mt-3"><strong>Telefon:</strong> <span>0212 567 03 52-53</span></p>
            <p><strong>E-Posta:</strong> <span>info@asit.com.tr - info@asitticaret.com.tr</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Asit Ticaret</h4>
          <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/hakkimizda/">Hakkımızda</a></li>
            <li><a href="/siparis/">Online Sipariş</a></li>
            <li><a href="/iletisim/">İletişim</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Ürünlerimiz</h4>
          <ul>
            <li><a href="/urunlerimiz/">Asitler</a></li>
            <li><a href="/urunlerimiz/">Bazlar</a></li>
            <li><a href="/urunlerimiz/">Diğer</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Bize Ulaşın</h4>
          <ul>
            <li><a href="https://www.google.com/maps?ll=41.036225,28.924306&z=15&t=h&hl=tr&gl=TR&mapclient=embed&q=Arma%C4%9Fan+Sk.+No:2+Top%C3%A7ular+34055+Ey%C3%BCpsultan/%C4%B0stanbul">Merkez Ofis</a></li>
            <li><a href="https://www.google.com/maps?ll=41.035477,28.628697&z=16&t=m&hl=tr&gl=TR&mapclient=embed&cid=1542079148168386890">Esenyurt Depo</a></li>
            <li><a href="https://www.google.com/maps?ll=40.903062,29.288912&z=16&t=h&hl=tr&gl=TR&mapclient=embed&q=Kiram+Sk.+No:12+%C5%9Eeyhli+34906+Pendik/%C4%B0stanbul">Pendik Depo</a></li>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright 2024</span> <strong class="px-1 sitename">ASİT TİCARET</strong> <span>Tüm Hakları Saklıdır.</span></p>
      <div class="credits">
      </div>
    </div>

  </footer>